---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces/c4a97805-e49c-4db9-82a4-40f06ac7c905/message?version=2017-02-03
    body:
      encoding: UTF-8
      string: '{"input":{"text":"irrelevant"},"alternate_intents":true,"context":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MjRlYjY4YzctNDM2ZS00ZjA5LWI2NGItMjU4NjBmODBmODk5OjVPdzdLYzhHMlhuQg==
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Etag:
      - W/"276-Z9IqaKBz0W66sTnSArXwiw"
      Content-Type:
      - application/json;charset=utf-8
      X-Client-Ip:
      - 37.6.60.224
      X-Global-Transaction-Id:
      - '2315997440'
      X-Dp-Watson-Tran-Id:
      - gateway-dp02-2315997440
    body:
      encoding: UTF-8
      string: '{"intents":[{"intent":"overdose","confidence":0.10999315977096558},{"intent":"substance_profile","confidence":0.09079418778419496},{"intent":"get_effects","confidence":0.06434418559074402},{"intent":"get_interactions","confidence":0.051319229602813723}],"entities":[],"input":{"text":"irrelevant"},"output":{"log_messages":[],"text":[],"nodes_visited":["node_1_1490605358060"]},"context":{"conversation_id":"02b6f36c-9fbd-4b49-9268-e5cf75c6350b","system":{"dialog_stack":[{"dialog_node":"root"}],"dialog_turn_counter":1,"dialog_request_counter":1,"branch_exited":true,"branch_exited_reason":"completed"}},"alternate_intents":true}'
  recorded_at: Wed, 29 Mar 2017 10:08:25 GMT
recorded_with: VCR 3.0.3
