---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces/c4a97805-e49c-4db9-82a4-40f06ac7c905/message?version=2017-02-03
    body:
      encoding: UTF-8
      string: '{"input":{"text":"Tell me about the sky"},"alternate_intents":true,"context":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MjRlYjY4YzctNDM2ZS00ZjA5LWI2NGItMjU4NjBmODBmODk5OjVPdzdLYzhHMlhuQg==
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Etag:
      - W/"2c7-3Wx9lJlZ04M7t8yBl8ykAQ"
      Content-Type:
      - application/json;charset=utf-8
      X-Client-Ip:
      - 37.6.60.224
      X-Global-Transaction-Id:
      - '2420789332'
      X-Dp-Watson-Tran-Id:
      - gateway-dp02-2420789332
    body:
      encoding: UTF-8
      string: '{"intents":[{"intent":"substance_profile","confidence":0.22813042672984402},{"intent":"overdose","confidence":0.10517649991367982},{"intent":"get_effects","confidence":0.014335328162753532},{"intent":"get_interactions","confidence":0.014148321140961208},{"intent":"get_dose_information","confidence":0.0030369561439592524}],"entities":[],"input":{"text":"Tell
        me about the sky"},"output":{"log_messages":[],"text":[],"nodes_visited":["node_1_1490605358060"]},"context":{"conversation_id":"433f455c-6c1f-4adc-939b-6a7c520d0a6e","system":{"dialog_stack":[{"dialog_node":"root"}],"dialog_turn_counter":1,"dialog_request_counter":1,"branch_exited":true,"branch_exited_reason":"completed"}},"alternate_intents":true}'
  recorded_at: Wed, 29 Mar 2017 10:53:42 GMT
recorded_with: VCR 3.0.3
