---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/conversation/api/v1/workspaces/c4a97805-e49c-4db9-82a4-40f06ac7c905/message?version=2017-02-03
    body:
      encoding: UTF-8
      string: '{"input":{"text":"Tell me about LSD"},"alternate_intents":true,"context":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MjRlYjY4YzctNDM2ZS00ZjA5LWI2NGItMjU4NjBmODBmODk5OjVPdzdLYzhHMlhuQg==
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Etag:
      - W/"2f7-GywBjYHi5vR+swr7BjZ4zw"
      Content-Type:
      - application/json;charset=utf-8
      X-Client-Ip:
      - 37.6.60.224
      X-Global-Transaction-Id:
      - '2324793376'
      X-Dp-Watson-Tran-Id:
      - gateway-dp01-2324793376
    body:
      encoding: UTF-8
      string: '{"intents":[{"intent":"substance_profile","confidence":0.9641680717468262},{"intent":"get_dose_information","confidence":0.0697711855173111},{"intent":"get_interactions","confidence":0.05794927850365639},{"intent":"overdose","confidence":0.019902126863598824},{"intent":"get_effects","confidence":0.012930267490446568}],"entities":[{"entity":"Substances","location":[14,17],"value":"LSD"}],"input":{"text":"Tell
        me about LSD"},"output":{"log_messages":[],"text":[],"nodes_visited":["node_1_1490605358060"]},"context":{"conversation_id":"c19c0249-7ede-4881-b904-d04e1a78b4ae","system":{"dialog_stack":[{"dialog_node":"root"}],"dialog_turn_counter":1,"dialog_request_counter":1,"branch_exited":true,"branch_exited_reason":"completed"}},"alternate_intents":true}'
  recorded_at: Wed, 29 Mar 2017 10:57:35 GMT
recorded_with: VCR 3.0.3
